/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: Arial, Helvetica, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
h1{
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
.calculator{
  width: 320px;
  height: 445px;
  margin: 30px auto;
  background: #000;
  border-radius: 25px;
  padding: 30px;
  padding-top: 30px;
}
input{
  background: white;
  border: none;
  color: #000;
  width: 100%;
  padding: 5px;
  margin-top: 20px;
  text-align: right;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;

}
.buttonContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  padding-top: 15px;
}
button{
  background: white;
   height: 90px;
   border: none;
   width: 3.1rem;
   height: 3.1rem;
   border-radius: 50%;
   margin: 5px;
   font-size: 2rem;
   font-weight: bold;
   cursor: pointer;
   transition: all 0.2s;
}
button:hover{
  background: rgb(31, 30, 30);
  color: white;
  /* box-shadow: 0 0 8px 0.5px rgb(94, 94, 94); */
}
button:active{
  background: rgb(8, 8, 8);
  color: white;
  box-shadow: inset 0 0 8px 2px rgb(68, 68, 68);
}

.equals{   
  width: 89%;
  border-radius: 30px;
}
.AC{
  background: red;
  font-size: 1.8rem;
  padding-left: 4px;
  color: white;

}
.AC:hover{
  background: white;
  color: red;
}
.AC:active{
  background: rgb(231, 231, 231);
  box-shadow: inset 0 0 8px 2px rgb(148, 148, 148);
  color: red;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/